@import "tailwindcss";

@theme {
  --color-back: #a6d8ff;
  --color-lay: #fac9d1;
  --color-stake: #f694aa;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}